@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0e121b;
  --background-body: oklch(0.98 0.003 247);
}

@layer base {
  .dark {
    --background-body: oklch(0.2 0.02 240);
    --color-primary: oklch(100% 0.00011 271.152);
  }

  body {
    background-color: var(--background-body);
    color: var(--color-primary);
    @apply transition-colors duration-300;
  }
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }
  20%, 40%, 60%, 80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}
.screen-shake {
  animation: shake 0.5s ease-in-out 3;
}